.result-title {
  text-align: center;
  font-size: 70px;
  font-family: "Joti One", cursive;
  color: #ffcb04;
  text-shadow: 3px 3px 0 #39569e, -1px -1px 0 #39569e, 1px -1px 0 #39569e,
    -1px 4px 0 #39569e, 1px 1px 0 #39569e;
  margin-bottom: 20px;
}

.result-rank {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-evenly;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  width: 90%;
  border-radius: 20px;
}

.user-name,
.user-score {
  font-size: xx-large;
}

.result-label {
  display: flex;
  flex-direction: row;
  background-color: lightgreen;
  width: 90%;
  border-radius: 20px;
  justify-content: space-evenly;
}

.result-label div {
  font-size: xx-large;
}

.btn {
  font-family: "Joti One", cursive;
}
