.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px; /* Or any other height */
  background-color: lightgoldenrodyellow;
  border-radius: 50%; /* Makes the image circular */
}

.avatar img {
  width: 150px; /* Or any other width */
  height: 150px; /* Or any other height */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.user {
  height: 150px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.lobby {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 40%;
  justify-content: space-evenly;
}

.name {
  width: 70%;
  text-align: center;
  border-radius: 40%;
  font-size: 15px;
  font-weight: bold;
}

.name.me {
  background-color: #aed2ff;
}

.name.them {
  background-color: lightgreen;
}
