.title {
  font-size: 80px;
  font-family: "Joti One", cursive;
  color: #ffcb04;
  text-shadow: 3px 3px 0 #39569e, -1px -1px 0 #39569e, 1px -1px 0 #39569e,
    -1px 4px 0 #39569e, 1px 1px 0 #39569e;
}

.btn {
  background-color: lightcoral;
  width: 10%;
}
.input-group {
  width: 20%;
}
.input-username {
  font-size: x-large;
  font-family: "Joti One", cursive;
  color: #ffcb04;
  text-shadow: 3px 3px 0 #39569e, -1px -1px 0 #39569e, 1px -1px 0 #39569e,
    -1px 4px 0 #39569e, 1px 1px 0 #39569e;
}
.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  border-radius: 2%;
}
