.message-container {
  background-color: white;
  height: 400px;
  width: 100%;
}
.message-box {
  width: 100%;
  border: solid 1px lightblue;
  background-color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-left: 10px;
}

.form-style {
  margin: 0px;
}
.btn {
  width: 100%;
}

.chat-box {
  position: relative;
}
/* .message-input {
  width: 100%;
} */
