.message-container {
  background-color: white;
  height: 500px;
  width: 100%;
}
.message-box {
  width: 50%;
  border: solid 1px lightblue;
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
.form-style {
  margin: 0px;
}
.btn {
  width: 100%;
}

.chat-box {
  position: relative;
  margin-top: 50px;
}
/* .message-input {
  width: 100%;
} */
