.quiz-title {
  text-align: center;
  font-size: 70px;
  font-family: "Joti One", cursive;
  color: #ffcb04;
  text-shadow: 3px 3px 0 #39569e, -1px -1px 0 #39569e, 1px -1px 0 #39569e,
    -1px 4px 0 #39569e, 1px 1px 0 #39569e;
  margin-bottom: 20px;
}
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: start;
}
.quiz-page {
  display: flex;
  justify-content: center; /* Horizontally center its children */
  align-items: center; /* Vertically center its children */
  height: 85%; /* Take up the full height of its parent */
  width: 100%; /* Take up the full width */
  gap: 20px;
  margin-left: 5%;
}
.timer {
  flex: 0.2;
  align-self: center;
}

.poke-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This will make the container take the full viewport height */
  width: 100vw; /* This will make the container take the full viewport width */
}

.poke-gif img {
  max-width: 100%; /* Optional: To ensure the image doesn't exceed the screen width */
  max-height: 100%; /* Optional: To ensure the image doesn't exceed the screen height */
}
